{% extends "html/html_struct.html" %}

{% block content %}
    {% if object_list %}
        <table id="main-data-table">
            <thead>
                <tr>
                    <th></th>
                        <th>Personalización</th>
                    {% if not is_cliente %}
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Usuario</th>
                    {% endif %}
                    <th>Producto</th>
                    <th>Estado Personalización</th>
                    <th>Creación</th>
                    <th>Actualización</th>
                    <th>Hoja Técnica</th>
                    <!--<th>Copiar</th>-->
                </tr>

            </thead>
            <tfoot>
                <tr>
                        <th></th>
                        <th>Personalización</th>
                    {% if not is_cliente %}
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Usuario</th>
                    {% endif %}
                    <th>Producto</th>
                    <th>Estado Personalización</th>
                    <th>Creación</th>
                    <th>Actualización</th>
                    <th>Hoja Técnica</th>
                    <!--<th>Copiar</th>-->
                </tr>
            </tfoot>
            <tbody>

                {% for reg in object_list %}
                    <tr>
                        <td>
                                <input class="form-check-input" type="checkbox" value="{{ reg.pk }}" name="pk" />
                            </td>
                            <td>
                                <a href="{% url 'personalizacion_read' reg.pk %}">{{ reg }}</a>
                            </td>
                        {% if not is_cliente %}
                            <td>{{ reg.nombre }}</td>
                            <td>{{ reg.telefono }}</td>
                            <td>{{ reg.correo_electronico }}</td>
                            <td>{% if reg.user %}{{ reg.user.profile }}{% endif %}</td>
                        {% endif %}
                        <td>{{ reg.producto }}</td>
                        <td>{{ reg.estado }}</td>
                        <td>{{ reg.creacion }}</td>
                        <td>{{ reg.actualizacion }}</td>
                        <td>
                            <a href="{% url 'ver_personalizacion' reg.pk %}" class="btn btn-outline-secondary" target="_blank">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </td>
                        <!--<td>
                            <button class="btn btn-outline-secondary" type="button" >Copiar</button>
                        </td>-->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <script type="text/javascript">
        let update_url = `{% url 'personalizacion_update' pk=0 %}`;
        let delete_many_url = `{% url 'personalizacion_delete_many' %}`;
    </script>
    <!-- personalización_producto/personalizacion_list.html end block content -->
{% endblock %}
